@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
body{
   background-image:url("images/autumn.png")  ;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        font-family: 'Prompt', sans-serif;
}